@model SVRDatabase.Model.DVRMessage

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DVRMessage</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>            
            Message ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageID)
        </dd>

        <dt>
            Message Body
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MessageBody)
        </dd>

        <dt>
            DVR Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DvrDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
