@model SVRDatabase.Model.DVRInfo

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DVRInfo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            Last convertion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastConvert)
        </dd>

        <dt>
            Last DVR Message
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastDvrMessage)
        </dd>

        <dt>
            Create Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            Force Stop
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ForceStop)
        </dd>

        <dt>
            Converter Interval
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConverterInterval)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KDVR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
