@model SVRDatabase.Model.ApiUser

@{
    ViewBag.Title = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ApiUser</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
